pom.xml
pom.xml.asc
*jar
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
*.xlsx#
*.csv#
/*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/misc.xml
.lsp/sqlite.db
.calva/
tmp/faris-env.sh